.tracks{
    margin: auto;

}
.tracks h1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 28px;
    width: 100%;
    padding: 15px 0; 
    position: relative;
    top: 300px;

}
.tracks h2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    position: relative;
    top: 426px;
    left: -420px;
}

.carousel-tracks-alinhamento{
    position: relative;
    top: 500px;
    width: 1300px;
    margin:auto;
    left: 60px;
}
.tracks .popular-tracks{
    margin-top: 155px;
    position: relative;
    top: 426px;
    left: -450px;

  
}