.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 100%;
}
.imagem-banner{
    margin-top: 154px;
}
.texto-principal{
    margin-left: 21px;
    max-width: 600px;
    height: 100%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 109.12px;
    color: white;
}
.gradient-txt{
    background: linear-gradient(308.51deg, #FE7E07 -0.02%, #FFDE67 100.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
.background{

    position: absolute;
    width: 536px;
    height: 724px;
    top: -83px;
    right: 0;
    z-index: -1;
    background: linear-gradient(128.49deg, #3378FF 0%, #9442FE 100%);
    filter: blur(450px);
}