.carousel-tracks .image1{
    background-image: url('../../assets/image 16.svg');
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: auto;
}
.carousel-tracks .image2{
    background-image: url('../../assets/image 17.svg');
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: auto;
}
.carousel-tracks .image3{
    background-image: url('../../assets/image 18.svg');
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: auto;
}
.carousel-tracks .image4{
    background-image: url('../../assets/image 19.svg');
    background-size: contain;
    width: 300px;
    height: 300px;
    margin: auto;
}

.carousel-tracks .titulo-playlist{
    margin-top: 120px;
    margin-bottom: 80px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 28px;
    
}
.carousel-tracks .play-btn1{
    position: relative;
    top: 200px;
    left: 100px;
    height: 35px;
    width: 35px;
}
.carousel-tracks p{  
    margin-top: 30px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    /* identical to box height, or 93% */
    
    
    /* Neutral 6 */
    
    color: #EFF0F7;
}
